<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>    
	<h1 class="title">Enter OTP</h1>  
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<div class="form_sec number_verfy">
   				<ion-list class="login_form">
   				  <span>Enter the OTP</span>
		          <label class="item-input-wrapper user_sec">
		            <i class="fa fa-mobile" aria-hidden="true"></i>
		            <input type="text" placeholder="Enter OTP">
		          </label>
		          <a href="#" class="frgt_pswd"> Resend OTP</a>
		          <div class="btn_box">
		            <button class="button button-large icon-right ion-arrow-right-c nxt_btn">Next</button>
		          </div>
		      </ion-list>
			</div>
   		</div>
   </ion-content>
</ion-view>
