<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>    
	<h1 class="title">FAQ</h1> 
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<div class="padding">
	   			<ion-list class="teacher_listing_sec session_details_sec session_details_sec_hmwrk">
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>General Questions</span>
	   						</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Lorem ipsum dolor sit amet ?</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt" style="display: none;">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Consectetur adipisicing elit, sed do eiusmod tempor.</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Lorem ipsum dolor sit amet ?</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt" style="display: none;">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>Help ?</span>
	   						</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Lorem ipsum dolor sit amet ?</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt" style="display: none;">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Consectetur adipisicing elit, sed do eiusmod tempor.</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   					<div class="faq_mn_cont">
		   					<div class="row hdnge_listing_sec">
		   						<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
		   						<div class="session_num content_nummargn">
		   							<span>Lorem ipsum dolor sit amet ?</span>
		   						</div>
		   					</div>
		   					<div class="faq_conttxt" style="display: none;">
		   						<p>
		   							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
		   						</p>
		   					</div>
	   					</div>
	   				</ion-item>
	   			</ion-list>
   			</div>
		</div>
   </ion-content>
</ion-view>
