<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>    
	<h1 class="title">My Honorarium History</h1>  
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<div class="padding">
	   			<ion-list class="teacher_listing_sec session_details_sec my_classes_sec">
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Month</span>
	   							<strong class="class_num">May 2017</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Session Taught</span>
	   							<strong class="class_num">03</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Honorarium Paid</span>
	   							<strong class="class_num honora_sec_num"><i class="fa fa-inr" aria-hidden="true"></i>1200</strong>
	   						</div>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Month</span>
	   							<strong class="class_num">May 2017</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Session Taught</span>
	   							<strong class="class_num">02</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Honorarium Paid</span>
	   							<strong class="class_num honora_sec_num"><i class="fa fa-inr" aria-hidden="true"></i>1200</strong>
	   						</div>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Month</span>
	   							<strong class="class_num">May 2017</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Session Taught</span>
	   							<strong class="class_num">02</strong>
	   						</div>
	   						<div class="session_num">
	   							<span>Honorarium Paid</span>
	   							<strong class="class_num honora_sec_num"><i class="fa fa-inr" aria-hidden="true"></i>1200</strong>
	   						</div>
	   					</div>
	   				</ion-item>
	   			</ion-list>
   			</div>
		</div>
   </ion-content>
</ion-view>
