<ion-view view-title="My Classes">
	<!--<ion-header-bar align-title="center" class="custom_header">
		<div class="buttons">
			<button class="button button-icon ion-navicon button-clear"></button>
		</div>
		<h1 class="title">My Classes</h1>
	</ion-header-bar>-->
	<ion-content class="contnet_bg">
		<div class="contnt_padding">
			<div class="padding">
				<ion-list class="teacher_listing_sec session_details_sec my_classes_sec">
					<!-- <ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>Class</span>
	   							<strong class="class_num">CD2121</strong>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-down-c"></i></a>
	   					</div>
	   				</ion-item> -->
					<ion-item ng-repeat="class in allClasses">
						<div class="row hdnge_listing_sec">
							<div class="session_num content_nummargn">
								<span>Class</span>
								<strong class="class_num">{{class.classID}}</strong>
							</div>
							<a class="arrw_up" ng-click="toggle($index)"><i class="icon" ng-class="classesShow[$index] ?  'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="session_details_schedule my_class_schedule" ng-show='classesShow[$index]'>
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>School Name</h3>
										<span>{{class._school.name}}</span>
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Grade</h3>
										<span>{{class.grade}}{{class.section}}</span>
									</div>
								</div>
							</div>
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Location</h3>
										<span>
							    		{{class._school.area}} , {{class._school._city.name}}</span>
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Sessions Completed</h3>
										<span>{{class.sessionsComp}}</span>
									</div>
								</div>
							</div>
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Program Name</h3>
										<span>
							    		{{class._program.name}}</span>
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx class_tchr_box">
										<i class="fa fa-mobile" aria-hidden="true"></i>
										<div class="hdng_classteacher">
											<h3>Head Master /Principal</h3>
											<span>{{class._school.headmaster.name}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Current Term</h3>
										<span>
							    		{{class.currentTerm}}</span>
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx class_tchr_box">
										<i class="fa fa-mobile" aria-hidden="true"></i>
										<div class="hdng_classteacher">
											<h3>Alternate Teacher</h3>
											<span>{{class._school.alternateTeacher.name}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx class_tchr_box">
										<i class="fa fa-mobile" aria-hidden="true"></i>
										<div class="hdng_classteacher">
											<h3>CTL</h3>
											<span>{{class._ctl.name.full}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="my_classteam_mem padding" ng-show='classesShow[$index]'>
							<span>Team Members</span>
							<div class="row">
								<div class="col col-50">
									<div class="clas_member" ng-repeat='vol in getFirstSubArray($index)'>
										<i class="fa fa-mobile" aria-hidden="true"></i>
										<em>{{vol.name.full}}</em>
									</div>
									<!-- <div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div>
		   							<div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div>
		   							<div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div> -->
								</div>
								<div class="col col-50">
									<div class="clas_member" ng-repeat='vol in getSecondSubArray($index)'>
										<i class="fa fa-mobile" aria-hidden="true"></i>
										<em>{{vol.name.full}}</em>
									</div>
									<!-- <div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div>
		   							<div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div>
		   							<div class="clas_member">
		   								<i class="fa fa-mobile" aria-hidden="true"></i>
		   								<em>Ashutosh Mishra</em>
		   							</div> -->
								</div>
							</div>
						</div>
						<div class="button_sec padding">
							<button class="button" ng-show="classesShow[$index]" ng-click="session('{{class._id}}', '{{class.currentTerm}}')">Session History</button>
							<button class="button" ng-show="classesShow[$index]" ng-click="student('{{class._id}}', '{{class.currentTerm}}')">Student Reports</button>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>