<ion-view view-title="My Next Session">
	<!--<ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>
	<h1 class="title">My Next Session</h1>
   </ion-header-bar>-->
	<ion-content class="contnet_bg">
		<div class="contnt_padding">
			<div class="padding">
				<ion-list class="teacher_listing_sec session_details_sec my_classes_sec">
					<ion-item ng-repeat="session in sessions">
						<div class="row hdnge_listing_sec">
							<div class="session_num">
								<span>Program</span>
								<strong class="class_num">{{session._studentClass._program.name}}</strong>
							</div>
							<div class="session_num">
								<span>Class</span>
								<strong class="class_num">{{session._studentClass.classID}}</strong>
							</div>
							<div class="session_num">
								<span>Session</span>
								<strong class="class_num">{{session.sessionNo}}</strong>
							</div>
							<a class="arrw_up" ng-click="toggle($index)"><i class="icon" ng-class="Show[$index] ?  'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="row hdnge_listing_sec" ng-show='Show[$index]'>
							<div class="session_num">
								<span>School Name</span>
								<strong class="class_num">{{session._school.name}}</strong>
							</div>
							<div class="date_nd_tym my_nxtsessn_datetym">
								<span></span>
								<strong>{{session.date | date : "EEE dd MMM yy" }}<i class="icon ion-clock"></i> {{session.date | date : "hh.mm a"}}</strong>
							</div>
						</div>
						<div class="schedule_mini padding my_nxtssen_schdl_mini" ng-show='Show[$index]'>
							<h3>Co-Volunteers for the Session</h3>
							<ion-list>
								<ion-item ng-repeat="volunteer in session._volunteers">
									<i class="icon ion-iphone phone_icn"></i>
									<div class="right_cont">
										<strong>{{volunteer.name.full}}</strong>
										<div class="row">
											<div class="col col-33">
												<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed {{volunteer.sessionsComp}} sessions</span>
											</div>
											<div class="col col-33">
												<span ng-if="volunteer.knowslocal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
												<span ng-if="!volunteer.knowslocal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Does not speak local language</span>
											</div>
										</div>
									</div>
								</ion-item>
							</ion-list>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>
