<ion-modal-view class="popupmodal">
	<ion-content class="contnet_bg">
		<div class="popedit_hdr">
			<a href="#" class="edit_btn"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			<span class="title">Edit Session</span>
			<a class="close" ng-click="closePopup(1)"><i class="fa fa-times" aria-hidden="true"></i></a>
		</div>
		<div class="padding main_popupcont">
			<ion-list class="teacher_listing_sec popuptechting_edit">
				<ion-item>
					<div class="row hdnge_listing_sec">
						<div class="session_num">
							<span>Session {{session.sessionNo}}</span>
						</div>
						<div class="date_nd_tym">
							<span>{{session.date | date:'EEE dd MMM yy'}}</span>
		    			<span><i class="icon ion-clock"></i> {{session.date | date:'h:mm a'}}</span>
						</div>
					</div>
				</ion-item>
			</ion-list>
			<h3>Reassign to other Volunteer</h3>
			<select ng-model="swapVolId.value">
				<option value="" disabled selected>Volunteer</option>
				<option ng-repeat="vol in users" value='{{vol._id}}'>{{vol.name.full}}</option>
			</select>
			<button class="button button-large nxt_btn popup_btn" ng-click="popup1(session)">Save</button>
		</div>
	</ion-content>
</ion-modal-view>
