<ion-view view-title="Session Details">
 <!-- <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>
	<h1 class="title">Session Details</h1>
	<button class="button button-icon ion-plus-round button-clear"></button>
   </ion-header-bar>-->
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<div class="padding">
	   			<ion-list class="teacher_listing_sec session_details_sec">
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Schedule</span>
	   						</div>
	   						<div class="date_nd_tym">
	   							<span>{{session.date | date : "EEE dd MMM yy" }}</span>
				    			<span><i class="icon ion-clock"></i> {{session.date | date : "hh.mm a"}}</span>
	   						</div>
	   						<a class="arrw_up" ng-click="toggle('schedule')"><i class="icon" ng-class="scheduleShow ? 'ion-arrow-down-c' : 'ion-arrow-up-c'"></i></a>
	   					</div>
	   					<div class="session_details_schedule" ng-show="scheduleShow">
	   						<div class="row term_program_status">
						    	<div class="col col-50">
						    		<div class="schdule_bx">
							    		<h3>Class</h3>
							    		<span>{{session._studentClass.classID}}</span>
						    		</div>
						    		<div class="schdule_bx">
							    		<h3>School Name</h3>
							    		<span>{{session._school.name}}</span>
						    		</div>
						    	</div>
						    	<div class="col col-50">
						    		<div class="schdule_bx">
							    		<h3>Grade</h3>
							    		<span>{{session._studentClass.grade}}{{session._studentClass.section}}</span>
						    		</div>
						    		<div class="schdule_bx">
							    		<h3>Session</h3>
							    		<span>{{session.sessionNo}}</span>
						    		</div>
						    	</div>
						    </div>
						    <div class="schedule_mini session_schedulebx padding">
	   						<h3>Co-Volunteers for the Session</h3>
	   						<ion-list>
	   							<ion-item ng-repeat="volunteer in session._volunteers">
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>{{volunteer.name.full}}</strong>
	   									<div class="row">
	   										<div class="col col-25">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed {{volunteer.sessionsComp}} sessions</span>
	   										</div>
	   										<div class="col col-65">
	   											<span ng-if="volunteer.knowslocal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item>
	   							<!-- <ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Ashutosh MIshra</strong>
	   									<div class="row">
	   										<div class="col col-25">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-65">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Does not Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item> -->
	   						</ion-list>
	   					</div>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>Content</span>
	   						</div>
	   						<a class="arrw_up" ng-click="toggle('content')"><i class="icon" ng-class="contentShow ? 'ion-arrow-down-c' : 'ion-arrow-up-c'"></i></a>
	   					</div>
	   					<div class="content_session" ng-show="contentShow">
	   						<div class="row">
	   							<div class="col col-50">
	   								<div class="cont_wrap_bx">
		   								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
		   								<span>Perl module.pdf</span>
		   								<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
	   								</div>
	   							</div>
	   							<div class="col col-50">
	   								<div class="cont_wrap_bx">
		   								<i class="fa fa-video-camera" aria-hidden="true"></i>
		   								<span>Movie Business.mp4</span>
		   								<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="row">
	   							<div class="col col-50">
	   								<div class="cont_wrap_bx">
		   								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
		   								<span>Perl module.pdf</span>
		   								<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
	   								</div>
	   							</div>
	   							<div class="col col-50">
	   								<div class="cont_wrap_bx">
		   								<i class="fa fa-video-camera" aria-hidden="true"></i>
		   								<span>Movie Business.mp4</span>
		   								<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
	   								</div>
	   							</div>
	   						</div>
	   					</div>
	   				</ion-item>

	   			</ion-list>
	   			<div class="button_sec checkin_btn">
				  <button class="button">Check IN</button>
				</div>
   			</div>
		</div>
   </ion-content>
</ion-view>
