<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>    
	<h1 class="title">Session Details</h1>  
	<button class="button button-icon ion-plus-round button-clear"></button>
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<div class="padding">
	   			<ion-list class="teacher_listing_sec session_details_sec">
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Session 01</span>
	   						</div>
	   						<div class="date_nd_tym">
	   							<span>Mon 07 May 17</span>
				    			<span><i class="icon ion-clock"></i> 10.30am</span>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-down-c"></i></a>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>Content</span>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-down-c"></i></a>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num content_nummargn">
	   							<span>Homework</span>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-down-c"></i></a>
	   					</div>
	   					<div class="homework-sec">
	   						<div class="row bdr_btm">
	   							<div class="col col-50">
	   								<span>Session 18</span>
	   							</div>
	   							<div class="col col-50">
	   								<div class="color_box_sec">
	   									<div class="main_clrbx blue"></div>
	   									<strong class="blue_txt">Blue</strong>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="row bdr_btm">
	   							<div class="col col-50">
	   								<span>Session 19</span>
	   							</div>
	   							<div class="col col-50">
	   								<div class="color_box_sec">
	   									<div class="main_clrbx green"></div>
	   									<strong class="green_txt">Green</strong>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="row bdr_btm">
	   							<div class="col col-50">
	   								<span>Session 20</span>
	   							</div>
	   							<div class="col col-50">
	   								<div class="color_box_sec">
	   									<div class="main_clrbx orange"></div>
	   									<strong class="orange_txt">Green</strong>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="row bdr_btm">
	   							<div class="col col-50">
	   								<span>Session 22</span>
	   							</div>
	   							<div class="col col-50">
	   								<div class="color_box_sec">
	   									<div class="main_clrbx purple"></div>
	   									<strong class="purple_txt">Purple</strong>
	   								</div>
	   							</div>
	   						</div>
	   						<div class="row bdr_btm">
	   							<div class="col col-50">
	   								<span>Session 24</span>
	   							</div>
	   							<div class="col col-50">
	   								<div class="color_box_sec">
	   									<div class="main_clrbx red"></div>
	   									<strong class="red_txt">Red</strong>
	   								</div>
	   							</div>
	   						</div>
	   					</div>
	   					<div class="color_select">
	   						<select>
	   							<option>color</option>
	   							<option>color</option>
	   						</select>
	   						<button class="button">Save</button>
	   					</div>
	   				</ion-item>
	   				<ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Attandance</span>
	   						</div>
	   						<div class="add_studnt">
	   							<a class="button button-outline icon-left ion-plus button-assertive">Add new student</a>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-up-c"></i></a>
	   					</div>
	   					<div class="attendance_record session_attndnce_list">
	   						<div class="row attnce_list_hdng">
	   							<div class="col col-33">
	   								<strong>Name</strong>
	   							</div>
	   							<div class="col col-20">
	   								<strong>Attandance</strong>
	   							</div>
	   							<div class="col col-20">
	   								<strong>Base Behaviour</strong>
	   							</div>
	   							<div class="col col-15 ">
	   								<strong>ASER <em>(mid)</em></strong>
	   							</div>
	   							<div class="col col-20">
	   								<strong>Marks <em>(current)</em></strong>
	   							</div>
	   						</div>
	   						<div class="row attnce_list_hdng">
	   							<div class="col col-33">
	   								<span class="no_namepad">Rosita</span>
	   								<em>Join Dates: 5 may 17 </em>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-15">
	   								<span>24</span>
	   							</div>
	   							<div class="col col-20">
	   								<span class="end_record">24</span>
	   							</div>
	   						</div>
	   						<div class="row attnce_list_hdng">
	   							<div class="col col-33">
	   								<span class="no_namepad">Rosita</span>
	   								<em>Join Dates: 5 may 17 </em>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-15">
	   								<span>24</span>
	   							</div>
	   							<div class="col col-20">
	   								<span class="end_record">24</span>
	   							</div>
	   						</div>
	   						<div class="row attnce_list_hdng">
	   							<div class="col col-33">
	   								<span class="no_namepad">Rosita</span>
	   								<em>Join Dates: 5 may 17 </em>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-20">
	   								<ion-checkbox ng-model="filter.red">fdgdf</ion-checkbox>
	   							</div>
	   							<div class="col col-15">
	   								<span>24</span>
	   							</div>
	   							<div class="col col-20">
	   								<span class="end_record">24</span>
	   							</div>
	   						</div>
	   						<div class="row button_sec save_attncebtn">
	   							<button class="button">Save</button>
	   						</div>
	   					</div>
	   				</ion-item>
	   			</ion-list>
	   			<div class="button_sec">
				  <button class="button">Check OUT</button>
				  <button class="button">Mark as REDO</button>
				</div>
   			</div>
		</div>
   </ion-content>
</ion-view>
