<ion-view view-title="Session Details">
	<!--<ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>
	<h1 class="title">Session Details</h1>
	<button class="button button-icon ion-plus-round button-clear"></button>
   </ion-header-bar>-->
	<ion-content class="contnet_bg">
		<div class="contnt_padding">
			<div class="padding">
				<ion-list class="teacher_listing_sec session_details_sec session_details_sec_hmwrk">
					<ion-item>
						<div class="row hdnge_listing_sec">
							<div class="session_num">
								<span>Schedule</span>
							</div>
							<div class="date_nd_tym">
								<span>{{session.date | date : "EEE dd MMM yy" }}</span>
								<span><i class="icon ion-clock"></i> {{session.date | date : "hh.mm a"}}</span>
							</div>
							<a class="arrw_up" ng-click="toggle('session')"><i class="icon" ng-class="sessionShow ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="session_details_schedule" ng-show="sessionShow">
							<div class="row term_program_status">
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Class</h3>
										<span>{{session._studentClass.classID}}</span>
									</div>
									<div class="schdule_bx">
										<h3>School Name</h3>
										<span>{{session._school.name}}</span>
									</div>
								</div>
								<div class="col col-50">
									<div class="schdule_bx">
										<h3>Grade</h3>
										<span>{{session._studentClass.grade}}{{session._studentClass.section}}</span>
									</div>
									<div class="schdule_bx">
										<h3>Session</h3>
										<span>{{session.sessionNo}}</span>
									</div>
								</div>
							</div>
							<div class="schedule_mini session_schedulebx padding">
								<h3>Co-Volunteers for the Session</h3>
								<ion-list>
									<ion-item  ng-repeat="volunteer in session._volunteers">
										<i class="icon ion-iphone phone_icn"></i>
										<div class="right_cont">
											<strong>{{volunteer.name.full}}</strong>
											<div class="row">
												<div class="col col-25">
													<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed {{volunteer.sessionsComp}} sessions</span>
												</div>
												<div class="col col-65">
													<span ng-if="volunteer.knowslocal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   											<span ng-if="!volunteer.knowslocal"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Does not speak local language</span>
	   										</div>
											</div>
										</div>
									</ion-item>
									<!-- <ion-item>
										<i class="icon ion-iphone phone_icn"></i>
										<div class="right_cont">
											<strong>Ashutosh MIshra</strong>
											<div class="row">
												<div class="col col-25">
													<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
												</div>
												<div class="col col-65">
													<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Does not Speaks local language</span>
												</div>
											</div>
										</div>
									</ion-item> -->
								</ion-list>
							</div>
						</div>
					</ion-item>
					<ion-item>
						<div class="row hdnge_listing_sec">
							<div class="session_num content_nummargn">
								<span>Content</span>
							</div>
							<a class="arrw_up" ng-click="toggle('content')"><i class="icon" ng-class="contentShow ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="content_session" ng-show="contentShow">
							<div class="row">
								<div class="col col-50">
									<div class="cont_wrap_bx">
										<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
										<span>Perl module.pdf</span>
										<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="col col-50">
									<div class="cont_wrap_bx">
										<i class="fa fa-video-camera" aria-hidden="true"></i>
										<span>Movie Business.mp4</span>
										<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-50">
									<div class="cont_wrap_bx">
										<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
										<span>Perl module.pdf</span>
										<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="col col-50">
									<div class="cont_wrap_bx">
										<i class="fa fa-video-camera" aria-hidden="true"></i>
										<span>Movie Business.mp4</span>
										<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</ion-item>
					<ion-item>
						<div class="row hdnge_listing_sec">
							<div class="session_num content_nummargn">
								<span>Homework</span>
							</div>
							<a class="arrw_up" ng-click="toggle('homework')"><i class="icon" ng-class="homeworkShow ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="homework-sec" ng-show="homeworkShow">
							<div class="row bdr_btm" ng-repeat="session in last5sessions | orderBy : 'sessionNo'" ng-if="$index < 5">
								<div class="col col-50">
									<span>Session {{session.sessionNo}}</span>
								</div>
								<div class="col col-50">
									<div class="color_box_sec">
										<div class="main_clrbx {{session.teamColor | lowercase}}"></div>
										<strong class="{{session.teamColor | lowercase}}_txt">{{session.teamColor}}</strong>
									</div>
								</div>
							</div>
							<div class="color_select">
								<select ng-model="homework.teamColor">
									<option value="" disabled selected>Color</option>
										<option>Red</option>
										<option>Yellow</option>
										<option>Green</option>
										<option>Blue</option>
									</select>
								<button class="button" ng-click="saveColor()">Save</button>
							</div>
						</div>

					</ion-item>
					<ion-item>
						<div class="row hdnge_listing_sec">
							<div class="session_num">
								<span>Attendance</span>
							</div>
							<div class="add_studnt">
								<a class="button button-outline icon-left ion-plus button-assertive" ng-click="addStudent()">Add new student</a>
							</div>
							<a class="arrw_up" ng-click="toggle('attendance')"><i class="icon" ng-class="attendanceShow ? 'ion-arrow-up-c' : 'ion-arrow-down-c'"></i></a>
						</div>
						<div class="attendance_record session_attndnce_list" ng-show="attendanceShow">
							<div class="row attnce_list_hdng">
								<div class="col col-33">
									<strong>Name</strong>
								</div>
								<div class="col col-20">
									<strong>Attendance</strong>
								</div>
								<div class="col col-20">
									<strong>Bad Behaviour</strong>
								</div>
								<div class="col col-15 ">
									<strong>ASER <em>(mid)</em></strong>
								</div>
								<div class="col col-20" ng-if="showMarks">
									<strong>Marks <em>(current)</em></strong>
								</div>
							</div>
							<div class="row attnce_list_hdng" ng-repeat="student in students">
								<div class="col col-33">
									<span class="no_namepad">{{student.name.firstName}} {{student.name.lastName}}</span>
									<em>Join Dates: {{student.addedOn | date : "dd MMM yy"}} </em>
								</div>
								<div class="col col-20">
									<ion-checkbox ng-model="student.isAttend" ng-checked="student.isAttend">a</ion-checkbox>
								</div>
								<div class="col col-20">
									<ion-checkbox ng-model="student.isBadBehaviour" ng-checked="student.isBadBehaviour">b</ion-checkbox>
								</div>
								<div class="col col-15">
									<span>{{student.ASERScores[1] ? student.ASERScores[1] : '- - '}}</span>
								</div>
								<div class="col col-20" ng-if="showMarks">
									<input class="end_record" type="number" ng-model="student.testScore" value="{{student.testScore}}">
								</div>
							</div>
							<div class="row button_sec save_attncebtn">
								<button class="button" ng-click="saveAttendance()">Save</button>
							</div>
						</div>
					</ion-item>
				</ion-list>
				<div class="button_sec">
					<button class="button" ng-click="checkOut()">Check OUT</button>
					<button class="button" ng-click="redo()">Mark as REDO</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
