<ion-view>
  <ion-content class="main_login">
  	<div class="login_top">
  		<a href="#" class="logo">
  			<img src="img/logo.png" alt="logo">
  		</a>
  	</div>
  	<div class="form_sec">
  		<h2>Sign In</h2>
      <ion-list class="login_form">
          <label class="item-input-wrapper user_sec">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <input type="text" placeholder="Email Address*" ng-model="userName.value">
          </label>
          <label class="item-input-wrapper user_sec">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="******" ng-model="password.value">
          </label>
          <a href="#" class="frgt_pswd"> Forgot Password?</a>
          <div class="btn_box">
            <button class="button button-large icon-left ion-log-in" ng-click="submit()">Login</button>
            <button class="button button-large" ng-click="signUp()">New User? Sign up now!</button>
          </div>
      </ion-list>
  	</div>
  </ion-content>
</ion-view>
