<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>
	<h1 class="title">My Teaching Schedule</h1>
	<button class="button button-icon ion-plus-round button-clear"></button>
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding">
   			<h2 class="teacher_schedule_hdng">
   				Welcome <span>Mr/Ms {{tokenInfo.fullName}}</span>
				You joined in {{tokenInfo.dateOfJoining | date:'yyyy'}} &
				Have completed {{sessionsComp}} sessions
   			</h2>
   			<div class="row main_schedule">
   				<div class="col col-33">
   					<select class="button" ng-model="filterParams.filterProg" ng-change="applyFilters()">
					  Program <i class="fa fa-angle-double-down" aria-hidden="true"></i>
					  	<option value="" disabled selected>Program</option>
	   					<option ng-repeat="prog in programs" value="{{prog._id}}">{{prog.name}}</option>
	   					</select>
					</select>
				</div>
				<div class="col col-33">
					<select class="button" ng-model="filterParams.filterTerm" ng-change="applyFilters()">

					  <option value="" disabled selected>Term <i class="fa fa-angle-double-down" aria-hidden="true"></i></option>
 						<option value="1">1</option>
 						<option value="2">2</option>
 						<option value="3">3</option>
 						<option value="4">4</option>
					</select>
				</div>
				<div class="col col-33">
					<select class="button" ng-model="filterParams.filterClass" ng-change="applyFilters()">
					  Class <i class="fa fa-angle-double-down" aria-hidden="true"></i>
					  <option value="" disabled selected>Class</option>
	   				<option ng-repeat="class in classes" value="{{class.classID}}">{{class.classID}}</option>
					</select>
				</div>
			</div>
			<div class="padding">
				<ion-list class="teacher_listing_sec">
					<ion-item ng-repeat="ses in allSession">
						<div class="row hdnge_listing_sec">
							<div class="session_num">
								<span>Session {{ses.sessionNo}}</span>
							</div>
							<div class="date_nd_tym">
								<span>{{ses.date | date:'EEE dd MMM yy'}}</span>
								<span><i class="icon ion-clock"></i> {{ses.date | date:'h:mm a'}}</span>
							</div>
							<div class="edit_action">
								<span ng-show="editSes[$index]"><a class="arrw_up" ng-click="editSession($index)">Edit<i class="icon ion-edit"></i></a></span>
								<span ng-hide="editSes[$index]">Session Closed</span>
							</div>
							<a class="arrw_up" ng-click="toggleGroup($index)"><i class="icon" ng-class="showSession[$index] ? 'ion-arrow-down-c' : 'ion-arrow-up-c'"></i></a>
						</div>
						<div class="schedule_mini padding" ng-show='showSession[$index]'>
							<h3>Co-Volunteers for the Session</h3>
							<ion-list>
								<ion-item ng-repeat="vol in ses._volunteers">
									<i class="icon ion-iphone phone_icn"></i>
									<div class="right_cont">
										<strong>{{vol.name.full}}</strong>
										<div class="row">
											<div class="col col-33">
												<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
											</div>
											<div class="col col-33">
												<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
											</div>
										</div>
									</div>
								</ion-item>
								<!-- <ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Ashutosh MIshra</strong>
	   									<div class="row">
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item> -->
							</ion-list>
						</div>
					</ion-item>
					<!-- <ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Session 01</span>
	   						</div>
	   						<div class="date_nd_tym">
	   							<span>Mon 07 May 17</span>
				    			<span><i class="icon ion-clock"></i> 10.30am</span>
	   						</div>
	   						<div class="edit_action">
	   							<span>Edit<i class="icon ion-edit"></i></span>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-up-c"></i></a>
	   					</div>
	   					<div class="schedule_mini padding" style="display: none;">
	   						<h3>Co-Volunteers for the Session</h3>
	   						<ion-list>
	   							<ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Abhimanyu Nayak</strong>
	   									<div class="row">
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item>
	   							<ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Ashutosh MIshra</strong>
	   									<div class="row">
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item>
	   						</ion-list>
	   					</div>
	   				</ion-item> -->
					<!-- <ion-item>
	   					<div class="row hdnge_listing_sec">
	   						<div class="session_num">
	   							<span>Session 01</span>
	   						</div>
	   						<div class="date_nd_tym">
	   							<span>Mon 07 May 17</span>
				    			<span><i class="icon ion-clock"></i> 10.30am</span>
	   						</div>
	   						<div class="session_num">
	   							<span>Session Closed</span>
	   						</div>
	   						<a href="#" class="arrw_up"><i class="icon ion-arrow-down-c"></i></a>
	   					</div>
	   					<div class="schedule_mini padding" style="display: none;">
	   						<h3>Co-Volunteers for the Session</h3>
	   						<ion-list>
	   							<ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Abhimanyu Nayak</strong>
	   									<div class="row">
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item>
	   							<ion-item>
	   								<i class="icon ion-iphone phone_icn"></i>
	   								<div class="right_cont">
	   									<strong>Ashutosh MIshra</strong>
	   									<div class="row">
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Completed 50 sessions</span>
	   										</div>
	   										<div class="col col-33">
	   											<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Speaks local language</span>
	   										</div>
	   									</div>
	   								</div>
	   							</ion-item>
	   						</ion-list>
	   					</div>
	   				</ion-item>
	   			</ion-list> -->
			</div>
		</div>
	</ion-content>
</ion-view>
