<ion-view>
  <ion-header-bar align-title="center" class="custom_header">
	<div class="buttons">
	  <button class="button button-icon ion-navicon button-clear"></button>
	</div>    
	<h1 class="title">My Worshop</h1>  
	<button class="button button-icon ion-plus-round button-clear" ng-click="register()"></button>
   </ion-header-bar>
   <ion-content class="contnet_bg">
   		<div class="contnt_padding wrkshp_schedule">
	   		<div class="card layout_schedule">
	   		  <h2>Scheduled</h2>
			  <div class="item item-text-wrap">
			    <div class="row date_tym_sec">
			    	<div class="col col-66 dat_schdle">
			    		<span>07 May 17</span>
			    		<span><i class="icon ion-clock"></i> 10.30am</span>
			    	</div>
			    	<div class="col col-33 acto_schdle">
			    		<strong>Action</strong>
			    		<em class="gry_txt">Cancel</em>
			    	</div>
			    </div>
			    <div class="row term_program_status">
			    	<div class="col col-33">
			    		<h3>Term</h3>
			    		<span>2</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>Program</h3>
			    		<span>Math</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>status</h3>
			    		<span class="gry_txt">Registered</span>
			    	</div>
			    </div>
			    <div class="row adrss_sec padding">
			    	<div class="col col-100">
			    		<i class="icon ion-ios-location"></i>
			    		<div class="addrss">
			    			<h4>Address</h4>
			    			<span>BH Block, Sector II, Salt Lake City, Kolkata
					West Bengal 700091</span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
			<div class="card layout_schedule">
	   		  <h2>Past</h2>
			  <div class="item item-text-wrap">
			    <div class="row date_tym_sec">
			    	<div class="col col-66 dat_schdle">
			    		<span>07 May 17</span>
			    		<span><i class="icon ion-clock"></i> 10.30am</span>
			    	</div>
			    	<div class="col col-33 acto_schdle">
			    		<!-- <strong>Action</strong>
			    		<em class="gry_txt">Cancel</em> -->
			    	</div>
			    </div>
			    <div class="row term_program_status">
			    	<div class="col col-33">
			    		<h3>Term</h3>
			    		<span>2</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>Program</h3>
			    		<span>Math</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>status</h3>
			    		<span class="gry_txt">Completed</span>
			    	</div>
			    </div>
			    <div class="row adrss_sec padding">
			    	<div class="col col-100">
			    		<i class="icon ion-ios-location"></i>
			    		<div class="addrss">
			    			<h4>Address</h4>
			    			<span>BH Block, Sector II, Salt Lake City, Kolkata
					West Bengal 700091</span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
			<div class="card layout_schedule">
			  <div class="item item-text-wrap">
			    <div class="row date_tym_sec">
			    	<div class="col col-66 dat_schdle">
			    		<span>07 May 17</span>
			    		<span><i class="icon ion-clock"></i> 10.30am</span>
			    	</div>
			    	<div class="col col-33 acto_schdle">
			    		<!-- <strong>Action</strong>
			    		<em class="gry_txt">Cancel</em> -->
			    	</div>
			    </div>
			    <div class="row term_program_status">
			    	<div class="col col-33">
			    		<h3>Term</h3>
			    		<span>2</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>Program</h3>
			    		<span>Math</span>
			    	</div>
			    	<div class="col col-33">
			    		<h3>status</h3>
			    		<span class="gry_txt">Completed</span>
			    	</div>
			    </div>
			    <div class="row adrss_sec padding">
			    	<div class="col col-100">
			    		<i class="icon ion-ios-location"></i>
			    		<div class="addrss">
			    			<h4>Address</h4>
			    			<span>
					BH Block, Sector II, Salt Lake City, Kolkata
					West Bengal 700091</span>
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
   </ion-content>
</ion-view>
